main {
    width: 960px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 30px;
}

p {
    font-size: 18px;
}